@import '~bootstrap/scss/bootstrap';
.list-item{
  padding: 5px;
  margin: 5px;
  background-color: beige;
  border: 1px solid #000;
  cursor: pointer;
}

.header{
  margin: 50px;
  font-size: 20px;
}